//color
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$darkblack: #000000;
$darkblue: #0065ad;
$mercury: #e1e1e1;
$alabsater: #fafafa;

//padding
$padding-top-mobile: 24px;
$padding-bottom-mobile: 16px;
$padding-top-tablet: 48px;
$padding-bottom-tablet: 36px;

//margin
$margin-mobile: 0 16px;
$margin-tablet: 0 36px;
$margin-desktop: 0 auto;
$width-desktop: 1020px;
