@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
  padding: 1rem 0 0.5rem 0;
  @include flex-row;
  gap: 1.5rem;
  border-bottom: 1px solid $mercury;

  &__content {
    @include body-copy;
    margin-top: 1rem;
  }
  &__main {
    @include flex-column;
    width: 90%;
  }
  &__person {
    @include flex-row;
    justify-content: space-between;
  }
  &__name {
    @include body-copy;
    font-weight: 600;
  }
  &__time {
    @include body-copy;
    font-weight: 600;
    color: $silver;
  }
  &__img {
    @include avatar-img;
  }
}
