@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;

.videoinfo {
  @include desktop {
    @include flex-row;
    margin: $margin-desktop;
    max-width: $width-desktop;
  }
  &__current {
    @include desktop {
      border-right: 1px solid $mercury;
      //width: 100%;
    }
  }
  &__other {
    @include desktop {
      width: 90vw;
    }
  }
}
.loading {
  display: flex;
  flex-direction: column;
  &__image {
    width: 3rem;
  }
}
