@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.forms {
  @include margin-align;
  @include flex-row;
  gap: 1.5rem;
  padding: 1rem 0;
}
.form-button {
  @include flex-column;
  align-items: flex-start;
  width: 85%;
  gap: 1rem;
  @include tablet {
    @include flex-row;
    align-items: flex-end;
  }
}
.form {
  @include flex-row;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;

  &__comment {
    @include flex-column;
    width: 100%;
  }
  &__img {
    @include avatar-img;
    margin-top: 2rem;
  }
  &__label {
    color: $silver;
    @include labels;
  }
}
.title {
  @include margin-align;
  @include body-copy;
  font-weight: 700;
}
#comment {
  border-radius: 4px;
  border: 1px solid $mercury;
  background-color: $white;
  padding: 0.75rem;
  resize: none;
  background-color: $alabsater;
  height: 6rem;

  @include tablet {
    padding: 1rem;
    height: 0.5rem;
  }
}
#comment:focus {
  outline: none;
  border: 2px solid $blue;
}
#comment::placeholder {
  color: $black;
  @include labels;
  font-weight: 400;
}
.comments {
  border-top: 1px solid $mercury;
  @include margin-align;
  margin-top: 1rem;
}
.button {
  background-color: $blue;
  background-image: url("../../assets/Icons/add_comment.svg");
  background-repeat: no-repeat;
  background-position-x: 0.5rem;
  background-position-y: 0.5rem;
  color: $white;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  @include tablet {
    width: 40%;
  }
  @include desktop {
    width: 35%;
  }
  &:hover {
    background-color: $darkblue;
  }
}
