@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

a {
  color: inherit;
  text-decoration: none;
}
.video {
  @include desktop {
    width: 20rem;
  }
  @include flex-row;
  align-items: center;
  width: 100%;
  gap: 1rem;
  &__image {
    width: 25%;
    aspect-ratio: 1.5/1;
    border-radius: 4px;
  }
  &__content {
    height: 100%;
    @include flex-column;
    gap: 1.5rem;
    @include desktop {
      gap: 0.2rem;
    }
  }
  &__title {
    @include body-copy;
    color: $darkblack;
    font-weight: 600;
  }
  &__channel {
    @include body-copy;
    color: $black;
  }
}
